# Template to generate rotation files

LookAt %(eye_x).5f %(eye_y).5f %(eye_z).5f  # eye
       0 200 -140   # look at point
       0 0 1       # up vector
Rotate -5 0 0 1

Film "image"  
"integer xresolution" [700] "integer yresolution" [700]
    "string filename" "%(filename)s"

Include "../scenes/killeroo-common.pbrt"
